html, body{
  margin: 0;
  padding: 0;

}

body, header {
  display: flex;
  align-items: center;
  justify-content: center;
}

main{
  width: 100%;
  background-repeat:no-repeat;
  background-position: center center;

}

main p{
  font-size: 20px;
  padding: 10px;
}

main h1{
  text-align: center;
}

body{
  background-color: rgb(69, 69, 69);
  flex-direction: column;
  color: white;
  background-image: url("Images/BGTemp.jpg");
  background-repeat:no-repeat;
  background-position: center center;
}

header{
  width: 80%;
  color: white;
  font-family: "logoFont";
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

header img{
  filter: drop-shadow(10px 10px 0px #000);
}

nav{
  background-color: rgba(20,20,20,0.7);
  width: 100%;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: left;
}

nav a{
  color: white;
  height: 100%;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;

}

nav a img{
  vertical-align: middle;
}

.ContentBoxContainer{
  display: flex;
  align-items: center;
  justify-content: center;

  //flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;

  padding-top: 50px;
}

.ContentBox{
  //background-color: #000;
  height: 400px;
  width: 50%;
  margin-bottom: 50px;
  filter: drop-shadow(0px 0px 0px #000);
  transition-duration: .2s;
  display: flex;
  justify-content: center;
}

.ContentBox img:hover{
  transform: translate(5px, -5px);
  filter: drop-shadow(-5px 5px 0px #000);
  transition-duration: .2s;
}

.ContentBox img{
  transition-duration: .2s;
  padding-left: 5px;
  object-fit: cover;
  padding-right: 30px;
}

.ContentBox .PosterImg{
  transition-duration: .2s;
  padding-left: 5px;
  object-fit: cover;
  padding-right: 30px;
  width: 30%;
}

.ContentTextBox{
  max-width: 20%;
  padding-left: 20px;
}

.linklogo{
  width: 50px;
  height: 50px;
}

.Seperator{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  filter: drop-shadow(5px 5px 0px #000);
  border-bottom: 10px solid #fff;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 10px solid #fff;
    margin: 0px;
    padding: 0;

}

//@font-face{
  //font-family: logoFont;
    //src: url(diablo_h.ttf);
//}

p{
  font-family: logoFont;
}
