html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background: #181a1b;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

nav {
    display: flex;
    color: #dbd9d4;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

nav a {
    padding-left: 30px;
    margin-right: 0;
    padding-right: 0;
    text-decoration: none;
    color: #dbd9d4;
}

.Logo {
    width: 40%;
    height: 20%;
    filter: drop-shadow(10px 10px 10px);
}

.LogoSmall {
    width: 50%;
    margin-left: 0%;
}

.Seperator {
    text-align: center;
    height: 1%;
    width: 50%;
    color: #dbd9d4;
    border-bottom: 2px solid #dbd9d4;
    padding-bottom: 5px;
    margin-left: 10px;
    text-align: center;
    padding-bottom: 0;
}

.Seperator img {
    filter: drop-shadow(10px 10px 10px #000000);
}

.Projects {
    grid-template-columns: repeat(3, 1fr);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.ProjectBox {
    margin: 10px;
    padding-right: 10px;
}

.ProjectBox h2, .ProjectBox h3{
    padding: 0;
    margin: 0;
    color: #dbd9d4;
    background: #0c0d0d;
    height: 100%;
    text-align: center;
}

.ProjectBox .Poster {
    min-width: 300px;
    width: 500px;
    height: 100%;
    object-fit: cover;
    transition-duration: 0.2s;
}

.Poster:hover {
    box-shadow: -10px -10px 0px #9e1b19;
    transform: translate(10px, 10px);
    transition-duration: 0.2s;
}

.ExperimentBox {
    margin: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
}

.ExperimentBox h2, .ExperimentBox h3{
    padding: 0;
    margin: 0;
    color: #dbd9d4;
    background: #0c0d0d;
    height: 100%;
    text-align: center;
}

.ExperimentBox img {
    max-width: 500px;
    width: 500px;
    height: 300px;
    object-fit: cover;
    margin: 0;
    transition-duration: 0.2s;
}

.ExperimentBox img:hover {
    box-shadow: -10px -10px 0px #9e1b19;
    transform: translate(10px, 10px);
    transition-duration: 0.2s;
}

.ContentBox {
    width: 70%;
    display: flex;
    flex-direction: column;
    color: #dbd9d4;
    background-color: #2a2a2a;
    padding: 20px;
}

.ContentBox img {
    object-fit: cover;
    width: 50%;
    height: 100%;
}

.ContentImg {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ContentImg img {
    object-fit: cover;
    width: 30%;
    height: auto;
}

.ContentBox:nth-child(even) {
    background-color: #3b3b3b;
}

.ContentTextBox {
    word-wrap: break-word;
    justify-content: center;
    align-items: center;
    
}

.ContentTextBox h1 {
    text-align: center;
}

.Download {
    color: #d93025;
}

p, h1 {
  font-family: "Arial", Arial, Sans-serif;
}

h3, h2 {
    font-family: "Arial", Arial, Sans-serif;
    font-weight: normal;
}

.Skills {
    display: flex;
    justify-content: center;
    width: 60%;
}

.SkillBox {
    color: #dbd9d4;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

.SkillBox h1 {
    color: #e44d2c;
}

.UnderConstruction
{
    text-align: center;
    position: absolute;
    transform: translate(0px, -200px);
    width: 500px;;
    background-color: rgba(255, 255, 0, 0.3);
    color: white;
}

.noHover{
    pointer-events: none;
}
